.photoWrapper {
    position: relative;
    display: inline-block;
    width: fit-content;
}

.photoActions {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    flex-direction: column;
    gap: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 8px;
    border-radius: 8px;
}

.photoWrapper:hover .photoActions {
    display: flex;
}

.photoActions button {
    background-color: #fff;
    border: none;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.photoActions button:hover {
    background-color: #e0e0e0;
}

.userPhoto {
  width: 300px;
  height: 300px;
}

/* form */

.nameInput {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}
